@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f9fafb;
    --foreground: #374151;
    --card: #ffffff;
    --card-foreground: #374151;
    --popover: #ffffff;
    --popover-foreground: #374151;
    --primary: #a7f3d0;
    --primary-foreground: #064e3b;
    --secondary: #fee2e2;
    --secondary-foreground: #991b1b;
    --muted: #f3f4f6;
    --muted-foreground: #6b7280;
    --accent: #e0e7ff;
    --accent-foreground: #3730a3;
    --destructive: #fecaca;
    --destructive-foreground: #991b1b;
    --border: #374151;
    --input: #e5e7eb;
    --ring: #a7f3d0;
    --chart-1: #a7f3d0;
    --chart-2: #fbcfe8;
    --chart-3: #bfdbfe;
    --chart-4: #fed7aa;
    --chart-5: #ddd6fe;
    --sidebar: #ffffff;
    --sidebar-foreground: #374151;
    --sidebar-primary: #a7f3d0;
    --sidebar-primary-foreground: #064e3b;
    --sidebar-accent: #f3f4f6;
    --sidebar-accent-foreground: #1f2937;
    --sidebar-border: #e5e7eb;
    --sidebar-ring: #a7f3d0;
    --font-sans: Inter;
    --font-serif: Lora;
    --font-mono: Fira Code;
    --radius: 1.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.05);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 1px 2px -1px hsl(0 0% 0% / 0.1);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 2px 4px -1px hsl(0 0% 0% / 0.1);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 4px 6px -1px hsl(0 0% 0% / 0.1);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.1), 0px 8px 10px -1px hsl(0 0% 0% / 0.1);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.25);
    --tracking-normal: 0px;
    --spacing: 0.25rem;
  }

  .dark:root {
    --background: #111827;
    --foreground: #e5e7eb;
    --card: #1f2937;
    --card-foreground: #e5e7eb;
    --popover: #1f2937;
    --popover-foreground: #e5e7eb;
    --primary: #34d399;
    --primary-foreground: #064e3b;
    --secondary: #fca5a5;
    --secondary-foreground: #4c0519;
    --muted: #374151;
    --muted-foreground: #9ca3af;
    --accent: #4f46e5;
    --accent-foreground: #e0e7ff;
    --destructive: #f87171;
    --destructive-foreground: #4c0519;
    --border: #e5e7eb;
    --input: #374151;
    --ring: #34d399;
    --chart-1: #34d399;
    --chart-2: #f472b6;
    --chart-3: #60a5fa;
    --chart-4: #fbbf24;
    --chart-5: #a78bfa;
    --sidebar: #111827;
    --sidebar-foreground: #e5e7eb;
    --sidebar-primary: #34d399;
    --sidebar-primary-foreground: #064e3b;
    --sidebar-accent: #1f2937;
    --sidebar-accent-foreground: #f9fafb;
    --sidebar-border: #374151;
    --sidebar-ring: #34d399;
    --font-sans: Inter;
    --font-serif: Lora;
    --font-mono: Fira Code;
    --radius: 1.5rem;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.1);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 1px 2px -1px hsl(0 0% 0% / 0.2);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 2px 4px -1px hsl(0 0% 0% / 0.2);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 4px 6px -1px hsl(0 0% 0% / 0.2);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.2), 0px 8px 10px -1px hsl(0 0% 0% / 0.2);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.5);
  }
}
